@using System.Text.Json
<div class="TranslationsManagerView">
    <div class="Toolbar">
        
        
        <ExtAutocomplete
            AvailableOptions="AvailableCultureNames"
            SelectedOptions="@(SelectedReferenceCulture != null ? [SelectedReferenceCulture] : [])"
            SelectedOptionsChanged="SetSelectedReferenceCulture"
            MaximumSelectedOptions="1"
        />
        
        <ExtAutocomplete
            AvailableOptions="AvailableCultureNames"
            SelectedOptions="@SelectedCultureNames"
            SelectedOptionsChanged="SelectedCulturesChanged"
            OptionDisabled="IsCultureSelectedAsReferenceCulture"
            Disabled="@(SelectedReferenceCulture == null)"
        />
        
        <FluentButton 
            Appearance="Appearance.Accent" 
            IconStart="@(new Icons.Regular.Size16.ArrowClockwise())"
        >
            Load Data
        </FluentButton>
        
        <FluentButton 
            Appearance="Appearance.Accent" 
            IconStart="@(new Icons.Regular.Size20.SaveSync())"
        >
            Save
        </FluentButton>
    </div>

    <div class="Data">
        <FluentDataGrid ItemSize="45" Virtualize="true" Items="@QueryableTranslations" ShowHover="true" TGridItem="TranslationItem">
            <SelectColumn TGridItem="TranslationItem" SelectMode="DataGridSelectMode.Multiple" SelectFromEntireRow="false" @bind-SelectedItems="@SelectedTranslations" />

            @if (IdColumnVisible)
            {
                <PropertyColumn Width="100px" Property="@(p => p.Id)" Title="ID" />
            }

            <PropertyColumn Sortable="true" Width="150px" Property="@(p => p.ResourceName)" />
            <PropertyColumn Sortable="true" Width="150px" Property="@(p => p.Name)">
                <ColumnOptions>
                    <div class="search-box">
                        F
                    </div>
                </ColumnOptions>
            </PropertyColumn>

            @if (SelectedReferenceCulture != null)
            {
                <TemplateColumn Width="400px" Title="@SelectedReferenceCulture" TGridItem="TranslationItem">
                    <ColumnOptions>
                        <div class="search-box">
                            F
                        </div>
                    </ColumnOptions>

                    <ChildContent>
                        <div class="TranslationValueColumn">
                            <div class="TranslationValue">
                                <FluentTextField 
                                    ValueChanged="@((v) => {})" 
                                    Value="@context.GetCultureValue(SelectedReferenceCulture)" />
                            </div>

                            <div class="TranslationValueActions">
                                <FluentButton aria-label="Edit item" IconEnd="@(new Icons.Regular.Size16.Edit())" OnClick="@(() => {})" />
                                <FluentButton aria-label="Delete item" IconEnd="@(new Icons.Regular.Size16.Delete())" OnClick="@(() => {})" />
                            </div>
                        </div>
                    </ChildContent>
                </TemplateColumn>
            }
            
            @foreach (var cultureName in SelectedCultureNames)
            {
                <TemplateColumn Width="400px" Title="@cultureName" TGridItem="TranslationItem">
                    <ColumnOptions>
                        <div class="search-box">
                            F
                        </div>
                    </ColumnOptions>

                    <ChildContent>
                        <div class="TranslationValueColumn">
                            <div class="TranslationValue">
                                <FluentTextField 
                                    ValueChanged="@((v) => {})" 
                                    Value="@context.GetCultureValue(cultureName)" />
                            </div>

                            <div class="TranslationValueActions">
                                <FluentButton aria-label="Edit item" IconEnd="@(new Icons.Regular.Size16.Edit())" OnClick="@(() => {})" />
                                <FluentButton aria-label="Delete item" IconEnd="@(new Icons.Regular.Size16.Delete())" OnClick="@(() => {})" />
                            </div>
                        </div>
                    </ChildContent>
                </TemplateColumn>
            }
        </FluentDataGrid>
    </div>

    <div>
        <pre>
            @(JsonSerializer.Serialize(SelectedTranslations, new JsonSerializerOptions
 {
 WriteIndented = true
 }))
        </pre>
    </div>
</div>