@using System.Text.Json
<div class="TranslationsManagerView">
    <FluentKeyCode Only="[KeyCode.Enter]" OnKeyDown="@(() => { Console.WriteLine("ss");})">
        <div class="Toolbar">
                <ExtAutocomplete
                    AvailableOptions="AvailableCultureNames"
                    SelectedOptions="@(SelectedReferenceCulture != null ? [SelectedReferenceCulture] : [])"
                    SelectedOptionsChanged="SetSelectedReferenceCulture"
                    MaximumSelectedOptions="1"
                    Placeholder="Ref. lang"
                    Width="150px"
                />
                
                <ExtAutocomplete
                    AvailableOptions="AvailableCultureNames"
                    SelectedOptions="@SelectedCultureNames"
                    SelectedOptionsChanged="SelectedCulturesChanged"
                    OptionDisabled="IsCultureSelectedAsReferenceCulture"
                    Disabled="@(SelectedReferenceCulture == null)"
                    Placeholder="Other languages"
                />
                
                <FluentTextField
                    Style="width: 250px;"
                    Name="Search"
                    Placeholder="Search (resource, name, values)"
                    @bind-Value="@Search"
                />
                
                <FluentButton 
                    Appearance="Appearance.Accent" 
                    IconStart="@(new Icons.Regular.Size16.ArrowClockwise())"
                    OnClick="@(() => { Console.WriteLine("Load"); })"
                >
                    Load Data
                </FluentButton>
            
            <FluentButton
                Style="margin-left: 24px;"
                Appearance="Appearance.Accent" 
                IconStart="@(new Icons.Regular.Size20.SaveSync())"
                Type="ButtonType.Submit"
            >
                Save
            </FluentButton>
        </div>
    </FluentKeyCode>

    <div class="Data">
        <FluentDataGrid ItemSize="45" Virtualize="true" Items="@QueryableTranslations" ShowHover="true" TGridItem="TranslationItem">
            <SelectColumn TGridItem="TranslationItem" SelectMode="DataGridSelectMode.Multiple" SelectFromEntireRow="false" @bind-SelectedItems="@SelectedTranslations" />

            @if (IdColumnVisible)
            {
                <PropertyColumn Width="100px" Property="@(p => p.Id)" Title="ID" />
            }

            <PropertyColumn Sortable="true" Width="150px" Property="@(p => p.ResourceName)" />
            <PropertyColumn Sortable="true" Width="150px" Property="@(p => p.Name)">
                <ColumnOptions>
                    <div class="search-box">
                        F
                    </div>
                </ColumnOptions>
            </PropertyColumn>

            @if (SelectedReferenceCulture != null)
            {
                <TemplateColumn Width="400px" Title="@SelectedReferenceCulture" TGridItem="TranslationItem">
                    <ColumnOptions>
                        <div class="search-box">
                            F
                        </div>
                    </ColumnOptions>

                    <ChildContent>
                        <div class="TranslationValueColumn">
                            <div class="TranslationValue">
                                <FluentTextField 
                                    ValueChanged="@((v) => {})" 
                                    Value="@context.GetCultureValue(SelectedReferenceCulture)" />
                            </div>

                            <div class="TranslationValueActions">
                                <FluentButton aria-label="Edit item" IconEnd="@(new Icons.Regular.Size16.Edit())" OnClick="@(() => {})" />
                                <FluentButton aria-label="Delete item" IconEnd="@(new Icons.Regular.Size16.Delete())" OnClick="@(() => {})" />
                            </div>
                        </div>
                    </ChildContent>
                </TemplateColumn>
            }
            
            @foreach (var cultureName in SelectedCultureNames)
            {
                <TemplateColumn Width="400px" Title="@cultureName" TGridItem="TranslationItem">
                    <ColumnOptions>
                        <div class="search-box">
                            F
                        </div>
                    </ColumnOptions>

                    <ChildContent>
                        <div class="TranslationValueColumn">
                            <div class="TranslationValue">
                                <FluentTextField 
                                    ValueChanged="@((v) => {})" 
                                    Value="@context.GetCultureValue(cultureName)" />
                            </div>

                            <div class="TranslationValueActions">
                                <FluentButton aria-label="Edit item" IconEnd="@(new Icons.Regular.Size16.Edit())" OnClick="@(() => {})" />
                                <FluentButton aria-label="Delete item" IconEnd="@(new Icons.Regular.Size16.Delete())" OnClick="@(() => {})" />
                            </div>
                        </div>
                    </ChildContent>
                </TemplateColumn>
            }
        </FluentDataGrid>
    </div>

    <div>
        <pre>
            @(JsonSerializer.Serialize(SelectedTranslations, new JsonSerializerOptions
 {
 WriteIndented = true
 }))
        </pre>
    </div>
</div>